<div id="container">
  <div id="header"></div>
  <div id="main">
    <div id="artworks" class="large"></div>
    <div id="left_info_panel"></div>
    <div id="map" class="small">
    </div>
  </div>
</div>