
<div class="jumbotron artworks_container">
  <div id="artworks"></div>
    <div class="slideshow_buttons">
      <div class="button_container">
        <button id="previous">Previous</button>
        <button id="pause">Pause</button>
        <button id="play">Play</button>
        <button id="next">Next</button>
      </div>
    </div>
  </div>
<div id="main_map" class="main_map_container"></div>
</div>
    
    
