
<div class='art_listings'>
  <% @artworks.each do |art| %>
    <div class='art_listing'>
      <div class="art_icon"><img src="<%= art.imgur_link %>"/></div>
      <div class="text"><p><b>Title: </b><%= art.name %></p><p><b>Artist: </b> <% art.creator %></p>
      </div>
    </div>
  <% end %>
</div>
<div id="about"></div>

<div class="jumbotron artworks_container">
  <div class="artworks"></div>
  <div class="slideshow_buttons">
    <div class="button_container">
      <button id="previous" type="button" class="btn btn-default btn-md" aria-label="Left Align">
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
      </button>
      <button id="pause" type="button" class="btn btn-default btn-md" aria-label="Left Align">
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span></button>
      <button id="play" type="button" class="btn btn-default btn-md" aria-label="Left Align">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
      <button id="next" type="button" class="btn btn-default btn-md" aria-label="Left Align">
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
<div id="main_map" class="main_map_container"></div>