<div id="container-fluid">
  <div id="main">
    <div id="main_map" class="main_map_container"></div>
    <div class="artworks_container">
      <div id="artworks"></div>
    </div>
    <div class="slideshow_buttons">
      <button id="previous">Previous</button>
      <button id="pause">Pause</button>
      <button id="play">Play</button>
      <button id="next">Next</button>
    </div>
  </div>
</div>