<div id="container-fluid">
  <div id="main">
    <div id="main_map" class="large"></div>
    <div id="artworks" class="small"></div>
    <button class="pause"></button>
    <button class="play"></button>
  </div>
</div>
