<div id="container-fluid">
  <div id="main">
    <div id="main_map" class="large"></div>
    <div id="artworks" class="small"></div>
    <div class="slideshow_buttons">
      <button id="previous">Previous</button>
      <button id="pause">Pause</button>
      <button id="play">Play</button>
      <button id="next">Next</button>
    </div>
  </div>
</div>
