<div id="container">
  <div id="header"></div>
  <div id="main">
    <div id="large" class="artworks"></div>
    <div id="left_info_panel"></div>
    <div id="small" class="map">
    </div>
  </div>
</div>