<h1>Sign Up</h1>
  <div id="artist_form">
    <%= label :is_artist, "Are you an artist?" %>
    <input id="artist_checkbox" type="checkbox" name="is_artist">
  </div>

<%= render 'user_form' %>

<%= link_to 'Back', main_index_path %>