#container {
 

}

#main {
  margin-top: 110px;
  position: relative;
}

#left_info_panel {
  display: inline-block;
  border-style: solid;
  border-color: black;
  height: 400px; 
  width: 200px;
  margin-bottom: 150px; 
}


.large {
  display: inline-block;
  position: absolute;
  height: 550px;
  width: 800px;
  border-color: blue;
  border-width: 2px; 
  border-style: solid; 
}

.small {
  border-color: red;
  position: absolute;
  border-width: 2px; 
  height: 200px;
  width: 350px;
  margin-left: 750px; 
  border-style: solid; 
}

.large img {
  transition: opacity 1s;
  position: absolute;
  top: 0; 
  left: 0; 
}

#artworks {

}

#main_map {

}