html, body {
  top: 0;
}


#container {
 

}

header {
  text-align: right;
  top: -10;
  background-color: gray;
  height: 70px;
  vertical-align: middle;
}

#main {
  margin-top: 10px;
  position: relative;
}

#left_info_panel {
  display: inline-block;
  border-style: solid;
  border-color: black;
  height: 400px; 
  width: 200px;
  margin-bottom: 150px; 
}


.large {
  display: inline-block;
  position: absolute;
  height: 550px;
  width: 50%;
  border-color: blue;
  border-width: 2px; 
  border-style: solid; 
}

.small {
  display: inline-block;
  border-color: red;
  position: relative;
  float: right;
  border-width: 2px; 
  height: 550px;
  width: 50%;
  border-style: solid; 
}

.large img {
  transition: opacity 1s;
  position: absolute;
  top: 0; 
  left: 0; 
}

#artworks {
}

#artworks img {
  display: block;
  height: 100%;
  margin: auto; 
}

#main_map {

}