html, body {
  height: 100%;
  width: 100%;
  position: fixed;
}


.jumbotron {
  padding: 0;
  position: relative;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

header {
  top: 0;
  text-align: right;
  background-color: lightgray;
  height: 70px;
  vertical-align: middle;
}

#main {
  margin-top: 50px;
  position: relative;
  height: 100%; 
  width: 100%;
  overflow: hidden; 
}

#about { 
 display: block;
 width: 350px;
 padding: 8px 11px;
 padding-top: 35px;
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 margin-top: 50px;
}

#left_info_panel {
  display: inline-block;
  border-style: solid;
  border-color: black;
  height: 400px; 
  width: 200px;
  margin-bottom: 150px; 
}

.main_map_container {
  display: block;
  height: 50%;
  width: 100%;
}

.artworks_container {
  height: 50%;
  background-image: url("Brick-Wall-Background-bw.jpg");
}

.artworks {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.artworks a {
  display: inline-block;
  height: 100%;
}
.artworks img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.artworks img:hover {
}

.button_container {
  margin: auto;
}
.slideshow_buttons {
  position: relative;
  bottom: 24px;
  display: block;
  margin: auto;
  z-index: 10;
}

.btn-md {
  border-width: 1px;
  border-color: #333333
}

.art_thumb {
  height: 105px; 
  width: 105px;
}

.art_thumb img {
  max-height: 100%;
  max-width: 100%;
  margin: auto; 
}

.navbar .container {
  margin-left: 0;
}

.highlightClass {
  -webkit-filter: brightness(1.15);
}

/*.art_listings {
  width: 30%;
  height: 100%;
  float: right;
}*/

#main_map {

}

#pause {
  
}

#play {
  
}

#next {

}

#previous {

}